.App {
  background-image: url("../image/bar-pic.jpg");
  height: 100vh;
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.App-header {
  text-align: center;
}

.App-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.User-input {
  width: 300px;
  height: 40px;
  background-color: grey;
  color: white;
}

::-webkit-input-placeholder {
  color: white;
}

/* Desktop */
@media screen and (max-width: 1300px) {
}

/* Tablet */
@media screen and (max-width: 900px) {
  .App {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 90px 2fr 2fr 60px;
    grid-template-areas:
      "header main"
      "nav main"
      "nav main"
      "footer main";
  }

  .User-input {
    width: 300px;
    height: 40px;
  }
}

/* Mobile */
@media screen and (max-width: 500px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }

  .User-input {
    width: 300px;
    height: 40px;
  }
}
